.tooltip {
    padding: 10px 15px 12px 15px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, .8);

    opacity: 1;
    -webkit-transition: visibility 0.2s, opacity 0.2s;
    transition: visibility 0.2s, opacity 0.2s;

    position: absolute;
    z-index: 9999;

    font: 12px/1 Tahoma, Arial, sans-serif;
    text-align: center;
    color: #fff;
}